<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<center>
<h1>New Mobile</h1>
</center>
<hr/>
<form action="{{ url_for('insert_mobile',company_id=company_id) }}" method = 'post'>
         <p>Name:</p>
         <input type ='text' size='30' name='name'>
         <p>Price:</p>
         <input type ='text' size='30' name='price'>
         <p>Ram:</p>
         <input type ='text' size='30' name='ram'>
         <p>Rom:</p>
         <input type ='text' size='30' name='rom'>
	      <p>Back_Cam:</p>
         <input type ='text' size='30' name='back'>
	      <p>Front_Cam:</p>
         <input type ='text' size='30' name='front'>
	      <p>Image:</p>
         <input type ='text' size='150' name='image'>
        </br>
        </br>
         <input type='submit' value='Create'><a href = '{{url_for('show_mobiles',company_id=company_id)}}'> Cancel </a>
      </form>
   </body>
</html
