<html>
   <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
   </head>
   <body>
      <center>
         <h1 id = "main_heading">New Mobile</h1>
      </center>
      <form action="#" method = 'post'>
         <p>Name:</p>
         <input type ='text' size='30' name='name'>
         <p>Price:</p>
         <input type ='text' size='30' name='price'>
         <p>RAM:</p>
         <input type ='text' size='30' name='ram'>
	 <p>ROM:</p>
         <input type ='text' size='30' name='rom'>
	 <p>Back_Cam:</p>
         <input type ='text' size='30' name='back'>
	 <p>Front_Cam:</p>
         <input type ='text' size='30' name='front'>
	 <p>Picture:</p>
         <input type ='text' size='150' name='rom'>
         </br>
         </br>
         <input type='submit' value='Create'>
      </form>
   </body>
</html>
