<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<center>
<h1>{{ company.name }}</h1>
</center><hr/><br>
<center><a href="{{ url_for('insert_mobile',company_id=company.id) }}">Add New Mobile</a></center><br>
<div>
<div>
{% for mobile in mobiles_list %}
    <img src="{{ mobile.image }}" width="200" height="250" /><br>
    <p>Name: {{ mobile.name }}</p>
    <p>Cost: {{ mobile.price }}</p>
    <p>RAM: {{ mobile.ram }}</p>
    <p>ROM: {{ mobile.rom }}</p>
    <p>Back_Cam: {{ mobile.back_cam }}</p>
    <p>Back_Cam: {{ mobile.front_cam }}</p>
    <a href="{{ url_for('edit_mobile',company_id=company.id,mobile_id=mobile.id) }}" >Edit</a></br>
    <a href="{{ url_for('remove_mobile',company_id=company.id,mobile_id=mobile.id) }}" >Delete</a><br><br>
{% endfor %}<br>
</div>
</div>
</body>
</html>
